<!DOCTYPE html>
<html>
<head>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<meta charset="ISO-8859-1">
<title>Religion</title>
</head>
<body>
<br>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary"
				data-toggle="modal" data-target="#addReligion">New</button>
		</div>
	</div>	
	<div class="modal fade" id="addReligion" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Agama</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formReligion">		
									<div class="form-group">
										<label for="name">Nama Agama *</label><br> <input
											class="form-control" type="text" id="name" name="name"
											placeholder="input name">
									</div>
									<div class="form-group">
										<label for="description">Deskripsi</label><br> <input
											class="form-control" type="text" id="description" name="description"
											placeholder="input name">
									</div>			
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Batal</button>
								<button type="button" id="saveBtn" class="btn btn-primary">Simpan</button>
							</div>
						</div>
					</div>
				</div>
	
	<div class="modal fade" id="editReligion" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Edit Religion</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formReligion">
									<div class="form-group">
										<label for="name">Nama Agama *</label><br> <input
											class="form-control" type="text" id="editName" name="name">
									</div>
									<div class="form-group">
										<label for="description">Deskripsi</label><br> <input
											class="form-control" type="text" id="editDeskripsi" name="description">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="editBtn" class="btn btn-primary">Simpan</button>
							</div>
						</div>
					</div>
				</div>		
	<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th class='text-center'>NAMA</th>
			<th class='text-center'>DESKRIPSI</th>
			<th>#</th>
		</tr>
	</thead>
	<tbody id="religion_body"></tbody>
	</table>
</body>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
var apiReligion = "/api/religion/";

$(()=>{
	console.log('Success');
	onLoadApi();
});

onLoadApi=()=>{
	$.ajax({
		url: apiReligion,
		types: 'get',
		contentType: 'application/json',
		success: (respond) =>{
			console.log(respond);
		},
		error:()=>{
			console.log('failed to fetch data')
		}
	});
}

generateTable=(resdata)=>{
	var tr;
	$('#religion_body').html('');
	
	resdata.map((res)=>{
	tr = $('<tr/>');
	
	var actions = '<div class="input-group-btn">' +
	'            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
	'                <span class="fa fa-caret-down"></span></button>' +
	'            <ul class="dropdown-menu">' +
	'                <li onclick="editAction(this)" value='+res.id+' data-toggle="modal" data-target="#editReligion"><a href="#">Edit</a></li>' +
	'                <li onclick="deleteAction(this)" value='+res.id+'><a href="#">Delete</a></li>\n' +
	'            </ul>\n' +
	'        </div>';
	
	
	tr.append("<td align='center'>" +res.name+"</td>");
	tr.append("<td align='center'>" +res.deskripsi+"</td>");
	
/* 	res.variants.map((var1)=>{
		tr.append("<li><b>" + var1.name + "</b></li>");
		tr.append("<li>Rp." + var1.deskripsi + "</li>"); 
	})
	tr.append("<td/>")
	
 */	
 	tr.append("<td>" + actions + "</td>");
 	$('#religion_body').append(tr);
});
}

$("#saveBtn").click(function() {
	let data ={
		name : $("#name").val() ,
		deskripsi : $("#description").val()
	}
	
	$.ajax({
		url : '/api/religion/add',
		type : 'post',
		contentType : 'application/json',
		data: JSON.stringify(data),
		success: (respond) =>{
			$('#addReligion').hide();
			$('.modal-backdrop').remove();
			onLoadApi();
		},
		error:()=>{
			console.log('Failed to save data');
		}
	})
});

$("#editBtn").click(function() {
	let data ={
		 : $("#editName").val(),
		name : $("#editDeskripsi").val(),
	}
	
	 $.ajax({
		url : '/api/religion/edit',
		type : 'put',
		contentType : 'application/json',
		data: JSON.stringify(data),
		success: (respond) =>{
			onLoadApi();
			$('#editReligion').modal('hide');
			$('.modal-backdrop').remove();
			
			Swal.fire({
         		  position: 'top-center',
         		  icon: 'success',
         		  width: 600,
         		  title: 'Your work has been saved',
         		  showConfirmButton: false,
         		  timer: 1500
         		});
			},
		error:()=>{
			console.log('Failed to save data');
		}
	}) 
});

editAction=(e)=>{
	$.ajax({
        url:'/api/religion/'+e.value,
        type: 'get',
        contentType: 'application/json',
        success:(res)=>{
        	$('#editName').val(res.nama)
            $('#editDeskripsi').val(res.deskripsi)          
        },
        error: ()=>{
            console.log("error fetch data")
        }
    })
}

deleteAction=(e)=>{
	Swal.fire({
	  title: 'Hapus ?',
	  text: "Anda yakin ingin menghapus agama"+" ini "+"?",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: 'Yes, delete it!'
	}).then((result) => {
	  if (result.value) {		
		  $.ajax({
	            url:'api/religion/delete/'+e.value,
	            type: 'delete',
	            contentType: 'application/json',
	            success:(res)=>{
	            	 onLoadApi();	            	 
	            	 Swal.fire(
	           		      'Deleted!',
	           		      'Your file has been deleted.',
	           		      'success'
	           		    );
	            },
	            error: ()=>{
	                console.log("error when delete data")
	            }
	        });
	  	}
	})	
}
</script>
</html>