<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Religion Form</title>
</head>
<body>
<form th:action="@{~/religion/remove}" method="post" th:object="${religion}">
<input type="hidden" th:field="*{religion_Id}">
<table class="table">
<tr>
	<td>NAMA</td>
	<td th:text="${religion.nama}"></td>
</tr>
<tr>
	<td>DESKRIPSI</td>
	<td th:text="${religion.deskripsi}"></td>
</tr>
<tr>
	<td align="center" colspan="1"><button type="submit" class="btn btn-danger">Hapus</button></td>
</tr>
</table>
</form>

</body>
</html>